body {
    background-color: lightblue;
    }
    
    h1 {
    color: navy;
    margin-left: 20px;
    }
    .cau2{
        color: yellow;
        text-align: "center";
    }
    .cau3{
        color:red;
        text-align: "center";
        text-size-adjust: "upcase";
    }
